@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';
@import '$lib/theme.css';

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  body {
    @apply font-sans antialiased text-gray-800 bg-background;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
